@font-face {
	font-family:'Arial';
	font-style:normal;
	font-weight:bold;
	src:local('☺'), url('font1.woff') format('woff');
}
@font-face {
	font-family:'Arial';
	font-style:normal;
	font-weight:normal;
	src:local('☺'), url('font2.woff') format('woff');
}
@font-face {
	font-family:'Calibri';
	font-style:normal;
	font-weight:normal;
	src:local('☺'), url('font3.woff') format('woff');
}
.wcdiv {
	position:absolute;
}
.wcspan {
	position:absolute;
	white-space:pre;
	color:#000000;
	font-size:12pt;
}
.wcimg {
	position:absolute;
}
.wcsvg {
	position:absolute;
}
.wcpage {
	position:relative;
	margin:10pt auto 10pt auto;
	overflow:hidden;
}
@media print {
	body {
		margin:0pt;
		padding:0pt;
	}
	.wcpage {
		page-break-after:always;
		margin:0pt;
		padding:0pt;
	}
}
.wctext001 {
	font-family:'Arial';
	font-style:normal;
	font-weight:normal;
}
.wctext002 {
	font-family:'Calibri';
	font-style:normal;
	font-weight:normal;
}
.wctext003 {
	font-family:'Arial';
	font-style:normal;
	font-weight:bold;
}