<!DOCTYPE html>
<html>
	<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="1763822792_template-custom/styles.css" media="all" />
	</head>
	<body>
		<div class="wcdiv wcpage" style="width:595pt; height:842pt; padding: 0; margin: 0; position: relative;">
			<!-- En-tête avec logo -->
			<div style="position: absolute; left: 19.35pt; top: 19.35pt; width: 188px;">
				<img src="assets/img/logo_entete.png" alt="En-tête FO METAUX" style="width: 100%; height: auto; display: block;">
			</div>
			
			<!-- Pied de page avec logo -->
			<div style="position: absolute; left: 19.35pt; bottom: 19.35pt; width: 556pt;">
				<img src="assets/img/logo_piedpage.png" alt="Pied de page FO METAUX" style="width: 100%; height: auto; display: block;">
			</div>
			<div class="wcdiv" style="left:292.1pt; top:244.1pt;">
				<div class="wcdiv" style="left:-0.05pt; top:-0.05pt; width:250.95pt; height:116.9pt; background-color:#ffffff; border:solid 0.1pt #ffffff;">
				</div>
				<div class="wcdiv" style="left:7.2pt; top:3.6pt; clip:rect(-0.25pt,249.6pt,111.05pt,-12.95pt);">
					<!-- Société en dur (Négociation uniquement) --><span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Société </span><span class="wcspan wctext001" style="font-size:11pt; left:40pt; top:0.36pt; line-height:12.29pt;">{entreprise}</span>
					<div class="wcdiv" style="top:12.65pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{civiliteDestinataire} {nomDestinataire}</span>
					</div>
					<div class="wcdiv" style="top:25.3pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{genre} {statutDestinataire}</span>
					</div>
					<div class="wcdiv" style="top:37.95pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{batiment}</span>
					</div>
					<div class="wcdiv" style="top:50.6pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{adresse}</span>
					</div>
					<div class="wcdiv" style="top:63.25pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{cpVille}</span>
					</div>
					<div class="wcdiv" style="top:75.89pt;">
						<a href="mailto:emailDestinataire">
							<div class="wcdiv">
								<span class="wcspan wctext001" style="font-size:11pt; color:#0000ff; left:0pt; top:0.36pt; line-height:12.29pt;">{emailDestinataire}</span>
							</div>
						</a>
						<div class="wcdiv" style="left:0pt; top:11.48pt; width:92.33pt; height:0pt; border-top:solid 0.81pt #0000ff;">
						</div>
					</div>
				</div>
			</div>
			<div class="wcdiv" style="left:292.45pt; top:374.25pt;">
				<div class="wcdiv" style="left:-0.05pt; top:-0.05pt; width:250.95pt; height:24.65pt; background-color:#ffffff; border:solid 0.1pt #ffffff;">
				</div>
				<div class="wcdiv" style="left:7.2pt; top:3.6pt; clip:rect(-0.38pt,249.98pt,18.93pt,-13.33pt);">
					<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Paris, le 22 November 2025</span>
				</div>
			</div>
			<div class="wcdiv" style="left:81.5pt; top:429.3pt;">
			<div class="wcdiv" style="left:-0.05pt; top:-0.05pt; width:461.9pt; height:260pt; background-color:#ffffff; border:solid 0.1pt #ffffff;">
				</div>
			<div class="wcdiv" style="left:7.2pt; top:3.6pt; clip:rect(-0.38pt,460.92pt,250pt,-13.33pt);">
					<!-- ========== EN-TÊTE COMMUNE (tous templates) ========== -->
					<span class="wcspan wctext002" style="font-size:11pt; left:0pt; top:0pt; line-height:13.43pt;">{codeDocument}</span>
					<div class="wcdiv" style="top:13.43pt;">
					</div>
					
					<!-- ========== OBJET - TEMPLATE DÉSIGNATION ========== -->
					<div class="wcdiv" style="top:26.08pt;">
						<span class="wcspan wctext003" style="font-size:11pt; font-weight:bold; left:0pt; top:0.36pt; line-height:12.29pt;">Objet : Lettre recommandée avec A.R. – Désignation</span>
						<!-- Objet pour autres templates -->
						<span class="wcspan wctext003" style="font-size:11pt; font-weight:bold; left:0pt; top:0.36pt; line-height:12.29pt;">Objet : {objet}</span>
					</div>
					
					<!-- Numéro de courrier (Désignation uniquement) -->
					<div class="wcdiv" style="top:38.73pt;">
						<span class="wcspan wctext003" style="font-size:10pt; font-weight:bold; left:0pt; top:1.27pt; line-height:11.17pt;">{numeroCourrier}</span>
					</div>
					<div class="wcdiv" style="top:51.38pt;">
					</div>
					
					<!-- ========== CORPS - TEMPLATE DÉSIGNATION ========== -->
					<div class="wcdiv" style="top:64.03pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{civiliteDestinataire},</span>
					</div>
					<div class="wcdiv" style="top:76.68pt;">
					</div>
					<!-- Texte Désignation (plusieurs lignes) -->
					<div class="wcdiv" style="top:89.33pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Nous vous informons que la Fédération FO de la Métallurgie désigne en qualité de</span>
					</div>
					<div class="wcdiv" style="top:101.98pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Délégué Syndical dans votre entreprise:</span>
					</div>
					<div class="wcdiv" style="top:114.63pt;">
					</div>
					
					<!-- ========== CORPS - TEMPLATE NÉGOCIATION ========== -->
					<!-- Texte Négociation (plusieurs lignes) -->
					<div class="wcdiv" style="top:89.33pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Nous vous informons que la Fédération FO de la Métallurgie désigne aux fins de négocier, et</span>
					</div>
					<div class="wcdiv" style="top:101.98pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">éventuellement signer le protocole d'accord préélectoral en vue de l'élection des membres de</span>
					</div>
					<div class="wcdiv" style="top:114.63pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">la délégation du personnel du comité social et économique de la société <span style="font-weight:bold;">{entreprise}</span></span>
					</div>
					<div class="wcdiv" style="top:127.28pt;">
					</div>
					
					<!-- ========== DÉLÉGUÉ - TEMPLATE DÉSIGNATION ========== -->
					<!-- Délégué nommé (Désignation) -->
					<div class="wcdiv" style="top:127.28pt;">
						<span class="wcspan wctext001" style="font-size:11pt; font-weight:bold; left:20pt; top:0.36pt; line-height:12.29pt;">⇨  {civiliteDelegue} {nomDelegue}</span>
					</div>
					<div class="wcdiv" style="top:139.93pt;">
						<a href="mailto:{emailDelegue}">
							<span class="wcspan wctext001" style="font-size:11pt; color:#0000ff; text-decoration:underline; left:32pt; top:0.36pt; line-height:12.29pt;">{emailDelegue}</span>
						</a>
					</div>
					<div class="wcdiv" style="top:152.58pt;">
					</div>
					<!-- Remplacement (Désignation uniquement) -->
					<div class="wcdiv" style="top:165.23pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">En remplacement de {civiliteRemplace} {nomRemplace}.</span>
					</div>
					<div class="wcdiv" style="top:177.88pt;">
					</div>
					<!-- Demande convocations (Désignation uniquement) -->
					<div class="wcdiv" style="top:190.53pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Nous vous demandons de bien vouloir lui adresser toutes convocations et informations</span>
					</div>
					<div class="wcdiv" style="top:203.18pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">nécessaires à l'exercice de son mandat.</span>
					</div>
					<div class="wcdiv" style="top:215.83pt;">
					</div>
					<!-- Formule Désignation -->
					<div class="wcdiv" style="top:228.48pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Veuillez agréer, Monsieur, l'expression de nos sincères salutations.</span>
					</div>
					
					<!-- ========== DÉLÉGUÉ - TEMPLATE NÉGOCIATION ========== -->
					<!-- Délégué nommé (Négociation) -->
					<div class="wcdiv" style="top:139.93pt;">
						<span class="wcspan wctext001" style="font-size:11pt; font-weight:bold; left:20pt; top:0.36pt; line-height:12.29pt;">⇨  {civiliteDelegue} {nomDelegue} ({entreprise})</span>
					</div>
					<div class="wcdiv" style="top:152.58pt;">
						<a href="mailto:{emailDelegue}">
							<span class="wcspan wctext001" style="font-size:11pt; color:#0000ff; text-decoration:underline; left:32pt; top:0.36pt; line-height:12.29pt;">{emailDelegue}</span>
						</a>
					</div>
					<div class="wcdiv" style="top:165.23pt;">
					</div>
					
					<!-- Formule Négociation -->
					<div class="wcdiv" style="top:177.88pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Veuillez agréer, {civiliteDestinataire}, l'expression de nos sincères salutations.</span>
					</div>
					
					<!-- ========== CONTENU LIBRE - TEMPLATES CUSTOM/NÉGOCIATION ========== -->
					<!-- Corps Custom -->
					<div class="wcdiv" style="top:64.03pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{civiliteDestinataire} {nomDestinataire},</span>
					</div>
					<div class="wcdiv" style="top:76.68pt;">
					</div>
					<div class="wcdiv" style="top:89.33pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{texteIa}</span>
					</div>
				</div>
			</div>
			<div class="wcdiv" style="left:423.9pt; top:720.05pt;">
				<div class="wcdiv" style="left:-0.05pt; top:-0.05pt; width:119.5pt; height:46.6pt; background-color:#ffffff; border:solid 0.1pt #ffffff;">
				</div>
				<div class="wcdiv" style="left:7.2pt; top:3.6pt; clip:rect(-0.38pt,118.53pt,40.88pt,-13.33pt);">
					<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">{signatureExp}</span>
					<div class="wcdiv" style="top:12.65pt;">
						<span class="wcspan wctext001" style="font-size:11pt; left:0pt; top:0.36pt; line-height:12.29pt;">Secrétaire Fédéral</span>
					</div>
				</div>
			</div>
		</div>
	<p style="bottom: 10px; right: 10px; position: absolute;"><a href="https://wordtohtml.net/?utm_source=wth_free_doc_conversion_link&utm_medium=external" target="_blank" style="font-size:11px; color: #d0d0d0"></a></p>
</body>
</html>